<?xml version="1.0"?>

<model>
  <name>box</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <license>Apache License, Version 2.0</license>
  <author>
    <name>Aurelien Roy</name>
    <email>aurroy@hotmail.com</email>
  </author>
  
  <description>
    just a box
  </description>

</model>
